<div class="modal-header">
    <h3 class="modal-title">Nouvelle tâche</h3>
</div>

<div class="modal-body">
    <form class="task-creation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    Nom de la tâche: <input type="text" class="form-control" ng-model="task.name">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Type de la tâche: <select class="form-control" ng-model="task.type" ng-options="type for type in types"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    Date de début:
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" show-button-bar=false
                        ng-model="task.begin_date" is-open="begin_date_opened" ng-required="false" close-text="Close" \>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open_begin_date($event)"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <div class="col-md-6">
                    Heure de début:
                    <input type="time" class="form-control" ng-model="task.begin_time" placeholder="hh:mm" min="05:00" max="22:00"></input>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    Date de fin:
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" show-button-bar=false
                        ng-model="task.end_date" is-open="end_date_opened" ng-required="false" close-text="Close" \>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open_end_date($event)"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <div class="col-md-6">
                    Heure de fin:
                    <input type="time" class="form-control" ng-model="task.end_time" placeholder="hh:mm" min="05:00" max="22:00"></input>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Durée:
                    <input type="time" class="form-control" ng-model="task.duration" placeholder="hh:mm" min="00:00" max="24:00"></input>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="create()" ng-disabled="!is_form_complete">Create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
