<div class="modal-header">
    <h3 class="modal-title">New Task</h3>
</div>

<div class="modal-body">
    <form class="task-creation">
        Nom de la tâche: <input type="text" class="form-control" ng-model="task.name"><br />
        Type de la tâche: <select class="form-control" ng-model="task.type" ng-options="type for type in types"></select><br />
        Date de fin:
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" show-button-bar=true
                ng-model="task.end_date" is-open="opened" ng-required="true" close-text="Close" \>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="create()" ng-disabled="!is_form_complete">Create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
