<div class="header">
    <h3>Tâches</h3>
    <button class="btn btn-primary" ng-click="createNew()">Créer une tâche</button>
</div>

<div class="new-task-form" ng-show="visible">
    <form class="task-creation">
        Nom de la tache: <input type="text" ng-model="task.name"><br />
        <button class="btn btn-primary" ng-click="create()">Créer</button>
    </form>
</div>

<div class="container">
    <ul>
        <li class="listitem" ng-repeat="task in taskslist">{{task.name}}</li>
    </ul>
</div>
