<div class="header">
    <h3>Tâches</h3>
    <button class="btn btn-primary" ng-click="createNew()">Créer une tâche</button>
</div>

<div class="new-task-form" ng-show="visible">
    <form class="task-creation">
        Nom de la tâche: <input type="text" ng-model="task.name"><br />
        <!-- Type de la tâche: <select ng-model=task_type" ng-options="type.name for type in types"> -->
        <button class="btn btn-primary" ng-click="create()">Créer</button>
    </form>
</div>

<div class="fixed-tasks tasks">
    <h4>Tâches fixes</h4>
    <ul>
        <li class="listitem" ng-repeat="task in taskslist">{{task.name}}</li>
    </ul>
</div>

<div class="assigned-tasks tasks">
    <h4>Tâches assignées</h4>
    <ul>
        <li class="listitem" ng-repeat="task in taskslist">{{task.name}}</li>
    </ul>
</div>
