body {
    padding: 0px;
    margin: 1px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

select {
    -webkit-appearance: None;
    -moz-appearance: None;
    appearance: None;
}

div.menu-items a {
    text-decoration: none;
}

div.menu-items .menu-entry{
    color: #8b8e93;
    background-color: #e6e6e6;
    width: 150px;
    line-height: 30px;
    vertical-align: middle;
    padding: 10px 10px 10px 20px;
    margin: 2px 2px 2px 2px;
}

div.menu-items .menu-entry:hover {
    color: #ffffff;
    background-color: #6e757f;
}

div.menu-items .active .menu-entry{
    color: #ffffff;
    background-color: #4b4f55;
}

div.tasks {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid #CCC;
}

div.tasks > ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

li.listitem {
    display: block;
    padding: 10px 10px 10px 10px;
    min-height: 50px;
    list-style-type: None;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

div.tasks li.listitem:nth-child(odd) {
    background-color: #DFDFDF;
}

div.tasks li.listitem:last-child {
    border-bottom: 0px;
}

div.tasks-list-header > h4, h5 {
    text-align: center;
    margin: 0px 0px 5px 0px;
    height: 55px;
    padding: 15px 40px 20px 40px;
}

div.fixed-tasks > h4 {
    background-color: #FFCCAA;
}

div.assigned-tasks > h4 {
    background-color: #D7E3F4;
}

div.unassigned-tasks > h4 {
    background-color: #FFCCAA;
}

div.unassigned-nodate-tasks > h4 {
    background-color: #D7E3F4;
}

a {
    outline: none;
}

#app-header {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    font-weight: 400;
    color: #F5F5F5;
    background: linear-gradient(#4b4f55,#6e757f, #4b4f55);
}

#nav-menu {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#main-view {
    width: 100%;
    padding: 10px 10px 10px 165px;
}

#main-view > .header {
    height: 90px;
}

#main-view > .header > h3 {
    float: left;
    padding: 10px;
    margin: 20px;
}

#main-view > .header > button {
    float: right;
    margin: 5px;
}
