body {
    padding: 0px;
    margin: 1px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

div {
    background-color: white;
}

div.menu-items a {
    text-decoration: none;
}

div.menu-items .menu-entry{
    color: #8b8e93;
    background-color: #e6e6e6;
    width: 150px;
    /* height: 30px;*/
    line-height: 30px;
    vertical-align: middle;
    padding: 10px 10px 10px 20px;
    margin: 2px 2px 2px 2px;
}

div.menu-items .menu-entry:hover {
    color: #ffffff;
    background-color: #6e757f;
}

div.menu-items .active .menu-entry{
    color: #ffffff;
    background-color: #4b4f55;
}

div.container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

div.container > ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

li.listitem {
    display: block;
    padding: 10px 10px 10px 10px;
    height: 50px;
    list-style-type: None;
    border-bottom: 1px solid #ccc;
}

li.listitem:nth-child(odd) {
    background-color: #DFDFDF;
}

li.listitem:last-child {
    border-bottom: 0px;
}

div.new-task-form {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 20px 0px 20px;
    border: 2px solid #6e757F;
    border-radius: 5px;
    text-align: left;
    width: 250px;
    height: 150px;
    box-shadow: 5px 5px 2px #BBBBBB;
}

div.new-task-form .btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px 10px 10px 0px;
    text-align: right;
}

a {
    outline: none;
}

#app-header {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    font-weight: 400;
    color: #F5F5F5;
    background: linear-gradient(#4b4f55,#6e757f, #4b4f55);
}

#nav-menu {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#main-view {
    padding: 10px 10px 10px 165px;
}

#main-view > .header {
    height: 90px;
}

#main-view > .header > h3 {
    float: left;
    padding: 10px;
    margin: 20px;
}

#main-view > .header > button {
    float: right;
    margin: 5px;
}
