<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="TasksManager" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="TasksManager" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="TasksManager" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="TasksManagerLogin" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Organisateur de taches - Connexion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="bower_modules/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_modules/bootstrap-css-only/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="task_manager/app.css">
    {% csrf_token %}
</head>
<body>
    <div id="app-header">Organisateur de tâches</div>

    <div id="login-form" class="center-block" ng-controller="LoginCtrl">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
            </div>

            <button class="btn btn-primary form-control" ng-click="connect()" ng-disabled="!is_form_complete">Connexion</button>

        </form>
    </div>

    <script src="bower_modules/angular/angular.js" defer></script>
    <script src="bower_modules/angular-route/angular-route.js" defer></script>
    <script src="bower_modules/angular-resource/angular-resource.js" defer></script>
    <script src="bower_modules/angular-bootstrap/ui-bootstrap-tpls.js" defer></script>
    <script src="task_manager/login.js" defer></script>
</body>
</html>
