<form class="login" ng-submit="vm.submit()">
    <div class="modal-header">
        <h4 class="modal-title">Connexion</h4>
    </div>

    <div class="modal-body">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-4">
                        <label for="username">Nom d'utilisateur</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="vm.user.username" autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="password">Mot de passe</label>
                    </div>
                    <div class="col-md-8">
                        <input type="password" class="form-control" ng-model="vm.user.password">
                    </div>
                </div>

            </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Connexion</button>
        <button class="btn btn-warning" ng-click="vm.cancel()">Annuler</button>
        <p class="error-message">{{vm.message}}</p>
    </div>

</form>

