<form class="login" ng-submit="vm.submit()">
  <div class="container-fluid">
    <h4 class="text-center">Gestionnaire de tâches</h4>
    <div class="row">
      <div class="col-md-4">
        <label for="username">Nom d'utilisateur</label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" ng-model="vm.user.username" autofocus>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="password">Mot de passe</label>
      </div>
      <div class="col-md-8">
        <input type="password" class="form-control" ng-model="vm.user.password">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-primary login-submit" type="submit">Connexion</button>
        <p class="error-message text-center">{{vm.message}}</p>
      </div>
    </div>
  </div>
</form>

